/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

/* General container styles */

#container {
    display: flex;
    justify-content: space-between;
    gap: 0px;
}

/* Available words section */

#available-words-section {
    width: 46.5%;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow-y: auto;
    max-height: 90vh;
}

#available-words-section h2 {
    margin-top: 0;
}

#categories-container {
    display: flex;
    flex-direction: column;
}

/* Card size for Available words */

.card { 
    width: 80px;
    height: 100px;
    margin: 5px;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    display: inline-block;
    text-align: center;
    overflow-y: auto;
    font-size: 25px;
}

.card .front {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Noto Serif SC', serif;
}

.card .back {
    display: none;
}

.card.flipped .front {
    display: none;
}

.card.flipped .back {
    display: block;
    overflow-y: auto;
    font-size: 11px;
}

/* Sentence board styles */

#sentence-board {
    width: 46.5%;
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sentence-board h2 {
    margin-top: 0;
}

#sentence-instructions {
    font-size: 14px;
    color: #666;
}

#sentence-dropzone {
    margin-top: 10px;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 16px;
    overflow-y: auto;
    padding: 10px;
    padding-left: 15px;

}

/* Dropped card styles */

.dropped-card {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    width: auto;
    height: auto;
    font-family: 'Noto Serif SC', serif;

}

/* Buttons Container*/

#buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

#buttons-container button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#buttons-container button:hover {
    background-color: #cccccc;
}

/* Modal styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Footer */

footer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

footer p {
    margin: 10px;
}

/* Category index search */
#category-index {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

#category-index button {
    padding: 5px 10px;
    border: 1px #ccc;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#category-index button:hover {
    background-color: #e0e0e0;
}

#category-index button:active {
    background-color: #d0d0d0;
}

#category-index button:focus {
    outline: none;
    border-color: #888;
}